Siils/packages/bootstrap.3.0.0/content/Content/bootstrap.css
Siils/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
Siils/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
Siils/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
Siils/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
Siils/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
Siils/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
Siils/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
Siils/packages/Respond.1.2.0/content/Scripts/respond.js
Siils/packages/Respond.1.2.0/content/Scripts/respond.min.js
Siils/Siils.Api/bin/Siils.Api.dll
Siils/Siils.Api/bin/Siils.Api.pdb
Siils/Siils.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Siils/Siils.Api/obj/Debug/Siils.Api.csproj.FileListAbsolute.txt
Siils/Siils.Api/obj/Debug/Siils.Api.csprojResolveAssemblyReference.cache
Siils/Siils.Api/obj/Debug/Siils.Api.dll
Siils/Siils.Api/obj/Debug/Siils.Api.pdb
Siils/Siils.Api/Siils.Api.csproj.orig
Siils/Siils.Api/Siils.Api.csproj.user
Siils/Siils.v12.suo
Siils/packages/*
Siils/Siils.Api/bin/*
Siils/Siils.Api/obj/*
Siils/Siils.Api/Siils.Api.csproj.user
Siils/Siils.v12.suo
Siils/packages/bootstrap.3.0.0/content/Content/bootstrap.css
Siils/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
Siils/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
Siils/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
Siils/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
Siils/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
Siils/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
Siils/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
Siils/packages/Respond.1.2.0/content/Scripts/respond.js
Siils/packages/Respond.1.2.0/content/Scripts/respond.min.js
Siils/Siils.Api/bin/Siils.Api.dll
Siils/Siils.Api/bin/Siils.Api.pdb
Siils/Siils.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Siils/Siils.Api/obj/Debug/Siils.Api.csproj.FileListAbsolute.txt
Siils/Siils.Api/obj/Debug/Siils.Api.csprojResolveAssemblyReference.cache
Siils/Siils.Api/obj/Debug/Siils.Api.dll
Siils/Siils.Api/obj/Debug/Siils.Api.pdb
Siils/Siils.Api/Siils.Api.csproj.user
Siils/Siils.v12.suo
Siils/Siils.Api/Siils.Api.csproj.user
Siils/Siils.v12.suo
